@import 'base/variables';
@import 'base/media';

* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}
.container {
    max-width: 950px;
    padding: 0px 5px;
    margin: 0 auto;
}
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/title';
@import 'blocks/consultation';
@import 'blocks/forms';

.benefit {
    padding: 69px 0 81px 0;
    &__wrapper {
        margin-top: 65px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 240px;
        margin-top: 30px;
        &:first-child {
            margin-top: 0;
        }
    }
    &__title {
        margin-top: 38px;
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
    }
    &__text {
        margin-top: 26px;
        color: #0d0d0d;
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
    }
    &__link {
        color: #ff0000;
        text-transform: uppercase;
        text-decoration: underline;
        &:hover {
            color: #c02b2b;
            text-decoration: none;  
        }
    }
}